In [1]:
import pandas as pd

In [13]:
combined = pd.read_csv('../../data_extraction/combined.tsv')
states = pd.read_csv('./us-state-names.tsv', sep='\t')
states['state'] = states.code.astype('str')

In [9]:
states.head()

   id code        name state
0   1   AL     Alabama    AL
1   2   AK      Alaska    AK
2   4   AZ     Arizona    AZ
3   5   AR    Arkansas    AR
4   6   CA  California    CA

In [14]:
combined.head()

         date  trend  isPartial state      symptom
0  2004-01-01    100      False    AL  Body Weight
1  2004-02-01     32      False    AL  Body Weight
2  2004-03-01     43      False    AL  Body Weight
3  2004-04-01     95      False    AL  Body Weight
4  2004-05-01     45      False    AL  Body Weight

In [17]:
combined = combined.merge(states, on="state")
combined.drop('code', axis=1, inplace=True)

In [21]:
combined.head()

         date  trend  isPartial state      symptom  id     name
0  2004-01-01    100      False    AL  Body Weight   1  Alabama
1  2004-02-01     32      False    AL  Body Weight   1  Alabama
2  2004-03-01     43      False    AL  Body Weight   1  Alabama
3  2004-04-01     95      False    AL  Body Weight   1  Alabama
4  2004-05-01     45      False    AL  Body Weight   1  Alabama

In [22]:
combined.to_csv('../combined_state_id.csv')